@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.kpi-card {
  margin: $mobile-margin 0;
  width: 100%;
  border-radius: 0.625rem;
  padding: $mobile-margin 0;
  box-shadow: 0 0 20px 8px #d0d0d0;
  @include tablet {
    width: 30rem;
    padding: $tablet-desktop-margin;
  }

  &__title{
    text-align: center;
    font-weight: 600;
  }
  &__graph {
    width: 100%;
  }
}