@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.kpi-card {
  margin: $mobile-margin 0;
  width: calc(100vw - 2rem);
  border-radius: 0.625rem;
  padding: $mobile-margin 0;
  box-shadow: 0 0 20px 8px #d0d0d0;
  height: 33.3125rem;
  @include tablet {
    width: 30rem;
    padding: $tablet-desktop-margin;
  }

  &__title{
    text-align: center;
    font-weight: 600;
  }
  &__graph {
    position:relative;
    width: 100%;
    margin:auto;
  }
  &__no-entries{
    @include flex-justify(center);
    align-items: center;
    height: 15rem;

  }
}