@use './variables' as *;

//Mixins to set tablet and desktop width threshold
@mixin tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
  }
  
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin flex-justify($justify-content:center){
  display: flex;
  justify-content: $justify-content;
}

@mixin section-padding{
  padding:0 $mobile-margin;
  @include tablet{
    padding: 0 $tablet-desktop-margin;
  }
 
}

@mixin body-font{
  color: $primary-text-color;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  @include tablet{
    font-size: 0.875rem;
    line-height: 1.375rem;

  }
}


