$primary-text-color:#303c6c;
$secondary-text-color:#AFAFAF;
$outline-color:#E1E1E1;
$cta-color: #0095ff;
$invalid-color:#6c3030;

$tablet-width: 48rem;
$desktop-width: 93.75rem;

$mobile-margin: 1rem;
$tablet-desktop-margin: 1.5rem;
$tablet-margin-edge: 2.25rem;