$primary-text-color:#323232;
$secondary-text-color:#AFAFAF;
$outline-color:#E1E1E1;
$cta-color: #0095ff;

$tablet-width: 48rem;
$desktop-width: 80rem;

$mobile-margin: 1rem;
$tablet-desktop-margin: 1.5rem;
$tablet-margin-edge: 2.25rem;