@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.entry-container {
  @include flex-justify(center);
  padding-inline:$mobile-margin;
}
.entry {
  margin-block: 2rem;
  border-radius: 0.625rem;
  padding: $mobile-margin;
  width: 100%;
  box-shadow: 0 0 20px 8px #d0d0d0;

  max-width: 30rem;

  @include tablet {
    padding: $tablet-desktop-margin;
  }

  &__title {
    text-align: center;
    font-weight: 600;
  }

  &__label {
    font-weight: 600;
    margin-top: $mobile-margin;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include tablet {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__input {
    @include body-font;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: 0.25rem;

    background-color: rgba(219, 220, 216, 0.161);
    border: 2px solid #afafaf;
    outline: none;
    &:focus {
      border: 2px solid $primary-text-color;
    }
    &--textarea {
      font-family: "Avenir";
    }
  }


  &__submission {
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
    margin-block: 2rem;
    padding-block: 0.5rem;
    text-decoration: none;
    font-weight: 600;
    color: $primary-text-color;
    border-radius: 20px;
    border: 2px solid $primary-text-color;

    &:hover {
      background-color: $primary-text-color;
      color: #fff;
      text-decoration: none;
    }

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
