@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main-content {
  @include flex-justify(flex-start);
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    gap: 0;
  }

  @include desktop {
    width: 80rem;
    margin: 0 auto;
  }

  &__side-bar {
    display: flex;
    align-items: center;
    padding-left: $mobile-margin;
    @include tablet {
      display: block;

    }
  }
  &__plus {
    width: 2rem;
    height: 2rem;
    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  &__search-wrap{
    box-shadow: 0 0 20px 8px #d0d0d0;
    border-radius: 0.625rem;
    padding: $mobile-margin;
    margin:$mobile-margin;
    @include tablet{
      margin:0;
    }
  }
  &__search-input{
    @include input;
    border-radius: 3.125rem;
    padding-inline: $mobile-margin;
    padding-left:2.5rem;
    width:100%;
    background: no-repeat center left 1rem url("../../assets/icons/search.svg");
    vertical-align: top;
    // display: inline-flex;
    // align-items: center;
    @include tablet{
      width:40%;
    }

  }
  &__form-wrapper {
    &--hidden {
      display: none;
    }
  }
  &__cards {
    width: 100%;
    @include tablet {
      padding-right: $tablet-desktop-margin;
    }
  }
}
