@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main-content {
  @include flex-justify(flex-start);
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    gap: 0;
  }

  @include desktop {
    width: 80rem;
    margin: 0 auto;
  }

  &__side-bar {
    @include tablet {
      padding-left: $mobile-margin;
    }
  }
  &__plus {
    width: 2rem;
    @include tablet {
      width: 2.5rem;
    }
  }
  &__form-wrapper {
    &--hidden {
      display: none;
    }
  }
  &__cards {
    width: 100%;
    @include tablet {
      padding-right: $tablet-desktop-margin;
    }
  }
}
