@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.request-card {
  font-size: 0.75rem;
  background-image: linear-gradient(to bottom right, #fff, #fbe8a646);
  padding: $mobile-margin;
  box-shadow: 0 0 20px 8px #d0d0d0;
  border-radius: 0.625rem;
  margin: $mobile-margin;
 

  @include tablet {
    width:100%;
    font-size: 1rem;
    padding: $tablet-desktop-margin;
    margin: $tablet-desktop-margin auto;
  }

  &__header {
    @include flex-justify(space-between);
  }

  &--high-risk {
    background-image: linear-gradient(to bottom right, #f4976c12, #f4976c40);
  }

  &--low-risk {
    background-image: linear-gradient(to bottom right, #fff, #9eebd736);
  }

  &--closed{
  background-image: linear-gradient(to bottom right, #fff, #a399af46);

  }

  &__title {
    width: 83%;
  }

  &__subtitle {
    @include flex-justify(space-between);
    flex-direction: column;
    width: 80%;
    margin: $mobile-margin 0;
    font-weight: 600;
    color: $primary-text-color;
    @include tablet {
      flex-direction: row;
      margin: $tablet-desktop-margin 0;
    }
  }
  &__highligthed{
    background-color: #7fd3e3;
    color:#fff;
    font-weight: 600;
  }

  &__rpn{
    margin-block:0.5rem;
    @include tablet{
      margin-block:0;
    }
  }

  &__status {
    @include body-font;
    color: $primary-text-color;
    height: 2.2rem;
    outline: none;
    font-family: "Avenir";
    font-weight: 600;
    background-color: #ffffff97;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    border-radius: 0.25rem;
    border: 2px solid #303c6c6b;

    &:focus {
      background-color: #fff;
      border: 2px solid $primary-text-color;
    }
  }

  &__status-option {
    font-weight: 600;
    background-color: #ffffff97;
  }

  &__assignment {
    font-weight: 600;
    @include flex-justify(space-between);
    align-items: center;
    gap:0.5rem;
    margin-top: $mobile-margin;
    @include tablet {
      margin-top: $tablet-desktop-margin;
    }
  }

  &__expand-icon {
    width: 2.5rem;
  }

  &__comments {
    @include flex-justify(flex-start);
    flex-direction: column;

    &--hidden {
      display: none;
    }
  }

}
.update {
  @include flex-justify(space-between);
  align-items: flex-end;
  margin: $mobile-margin 0;
  @include tablet {
    margin: $tablet-desktop-margin 0;
  }
  &__input {
    @include input;
    margin-top: 0.25rem;
    resize: none;
    height: 7rem;
    font-family: "Avenir";
    min-width: 70%;
    @include tablet {
      min-width: 80%;
    }

    
    &--invalid {
      border: 2px solid $invalid-color;
      &:focus {
        border: 2px solid $invalid-color;
      }
    }
  }

  &__submit {
    padding: 0.5rem 1rem;
    background-color: #ffffff77;
    font-weight: 600;
    margin: 0 0.5rem;
    color: $primary-text-color;
    border-radius: 4px;
    border: 2px solid $primary-text-color;

    &:hover {
      background-color: $primary-text-color;
      color: #fff;
      text-decoration: none;
    }

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

}
