@use "./styles/partials/typography";
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir";
}

.invalid{
 
  display: flex;
  align-items:flex-start;
  margin-block:0.5rem;
 

  &__img{
    height: 1.125rem;
    margin-right: 0.25rem;
  }

  &__text{
    margin-top: 0.05rem;
    color: $invalid-color;
    font-weight: 600;

  }
}



