@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.request {
  width: 100%;
  font-size: 0.875rem;

  margin: $tablet-desktop-margin 0;
  padding: $mobile-margin;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 8px #d0d0d0;
  border-radius: 0.625rem;

  border-radius: 0.625rem;
  @include tablet {
    font-size: 1rem;
    padding: $tablet-desktop-margin;
    flex-direction: row;
    justify-content: space-between;
  }

  &__error{
    color:#6c3030;
    font-weight: 600;
  }

  &__text-inputs {
    width: calc(100% - 2 * $mobile-margin);
    width: 100%;
    @include tablet {
      width: 60%;
    }
  }

  &__label {
    font-weight: 600;
    margin-top: $mobile-margin;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__rpn-wrapper {
    @extend .request__label;
  }
  
  &__label-rpn {
    @include tablet {
      min-width: 5.375rem;
    }
  }

  &__input {
    @include body-font;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: 0.25rem;

    background-color: rgba(219, 220, 216, 0.161);
    border: 2px solid #afafaf;
    outline: none;
    &:focus {
      border: 2px solid $primary-text-color;
    }

    @include tablet {
      width: 70%;
      margin: 0 1rem;
    }

    &--description {
      resize: none;
      height: 5rem;
      font-family: "Avenir";
    }

    &--invalid {
      border: 2px solid #6c3030;
      &:focus {
        border: 2px solid #6c3030;
      }
    }
  }

  &__rpn-inputs {
    @include flex-justify(space-between);
    align-items: flex-start;

    flex-direction: column;

    @include tablet {
      width: 35%;
    }
  }
  &__range {
    accent-color: $primary-text-color;
    @include tablet {
      margin: 0 0.5rem;
      width:6.25rem;
    }
  }

  &__rpn {
    font-weight: 600;
    margin-top: $mobile-margin;
    display: flex;

    flex-direction: column;
    @include tablet {
      display: inline-block;

      max-height: 1.1875rem;

    }
  }

  &__rpn-result{
    @include tablet {
      padding-left:10.5rem;
    }
  }

  &__buttons {
    @include flex-justify(space-between);
    padding-top: $mobile-margin;
    align-self: flex-end;
    @include tablet {
      // padding-top:4rem;
    }
  }

  &__cancel {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #6c3030;
    font-weight: 600;
    margin: 0 0.5rem;
    cursor: pointer;
    &:hover {
      text-decoration: 2px underline;
    }
  }
  &__submition {
    @extend .request__cancel;
    color: $primary-text-color;
    border-radius: 4px;
    border: 2px solid $primary-text-color;
    cursor: pointer;

    &:hover {
      background-color: $primary-text-color;
      color: #fff;
      text-decoration: none;
    }

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__team{
    display: block;
    font-weight: 600;
    size: 0.625rem;
  }
}
